/* MENU */

.header {
  display: flex;
  padding: 25px 50px;
  -webkit-box-pack: justify;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0px;
  z-index: 11;
  width: 100%;
  background-color: white;
  backdrop-filter: blur(8px);
}

.navbar {
  display: flex;
  -webkit-box-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  align-items: center;
  position: relative;
  width: 100%;
  color: rgb(51, 50, 50);
  z-index: 12;
}

.navbar-logo {
  display: flex;
  color: hsl(261deg 80% 48%);
  font-size: 25px;
}

.navbar-menu {
  display: flex;
  -webkit-box-align: center;
  align-items: center;
}

.navbar-menu ol {
  display: flex;
  -webkit-box-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  padding: 0px;
  margin: 0px;
}

.navbar-menu ol li {
  margin: 0px 5px;
  position: relative;
  font-family: 'sfthin';
  letter-spacing: 2px;
  counter-increment: item 1;
  font-size: 19px;
  transition: 80ms ease-in-out;
}

.navbar-menu ol li:hover {
  font-weight: bold;
  color: hsl(261deg 80% 48%);;
}

.navbar-menu ol li a {
  padding: 10px;
}

@font-face {
    font-family: 'sfthin';
    src: url(/fonts/SF-Pro-Display-Thin.otf);
}

@font-face {
  font-family: 'sfblack';
  src: url(/fonts/SF-Pro-Display-Black.otf);
}

@font-face {
  font-family: 'queenSideLight';
  src: url(/fonts/QueensidesLight.ttf);
}

/* ACCUEIL */

.presentation {
  display: flex;
  justify-content: center;
  align-items: center; 
  padding-left: 5%;
  padding-right: 5%;
  height: 100vh;
}

section h1 {
  margin: 0px 0px 30px 4px;
  color: rgb(146, 146, 146);
  font-family: 'queenSideLight';
  text-transform: uppercase;
  font-size: 22px;
  line-height: 1.1;
  font-weight: 400;
}

.prenom-nom {
  color: rgb(255, 255, 255);
  font-weight: 400;
  font-size: 24px;
}

.dev {
  color: #9effd3;
}

.container {
  width: 100%;
  margin-right: auto;
  margin-left: auto
}

.big-heading {
  font-size: clamp(40px, 6vw, 60px);
  text-transform: uppercase;
  font-family: 'queenSideLight';
  letter-spacing: 10px;
}

section h2 {
  font-weight: 500;
  color: rgb(236, 235, 235);
  /* color: rgb(58 57 58); */
  line-height: 1.1;
}

section h3 {
  font-weight: 300;
  font-family: 'queenSideLight';
  color: rgb(171, 170, 170);
  letter-spacing: 2px;
  text-transform: uppercase;
  font-size: 20px;
  line-height: 1.1;
}

section p {
  font-weight: 300;
  margin: 20px 0px 0px;
}

.backdrop {
  width: 550px;
  height: 400px;
  background-color: rgba(255, 255, 255, 0.767);
  border-width: 3px;
  border-color: white;
  backdrop-filter: blur(8px);
  border-radius: 5%;
  z-index: 10;
  box-shadow: 0 7px 18px 0 rgba(0, 0, 0, 0.2);
}

/* Boutons des items du menu */
.btn {
  padding: 17px 40px;
  border-radius: 50px;
  border: 0;
  color: white;
  background-color: rgb(79, 78, 78);
  box-shadow: rgb(0 0 0 / 5%) 0 0 8px;
  letter-spacing: 1.5px;
  text-transform: capitalize;
  font-size: 16px;
  transition: all .5s ease;
}

.btn:hover {
  letter-spacing: 3px;
  background-color: rgb(195, 251, 230);
  color: hsl(0, 0%, 5%);
  box-shadow: rgb(201, 250, 238) 0px 7px 29px 0px;
}

.btn:active{
  letter-spacing: 3px;
  background-color: rgb(131, 252, 188);
  color: hsl(0, 0%, 100%);
  box-shadow: rgb(131, 252, 188) 0px 0px 0px 0px;
  transform: translateY(10px);
  transition: 100ms;
}

/* This styles the social media icons*/
#icons {
  height: 500px;
  width: 140px;
  background: none;
  position: absolute;
  left: 0;
  top: calc(50% - 40px);
  display: flex;
  align-items: center;
  filter: drop-shadow(2px 2px 2px grey);
}

/* This styles the social media icons logos*/
#icons #iconsLogo {
  height: 300px;
  width: 50px;
  display: flex;
  flex-direction: column;
}

/* This styles the social media icons logos images*/
#icons #iconsLogo a {
  height: 50px;
  width: 50px;
  font-size: 30px;
  margin: 10px;
  color: rgb(102, 102, 102);
  display: grid;
  place-items: center;
  cursor: pointer;
}

.profil {
  margin-top: 50px;
  margin-bottom: 20px;
  padding: 110px 60px 60px 60px;
}

.profil p {
  font-size: medium;
  line-height: 2em;
}

.border {
  width: 3px;
  height: 25rem;
  background-color: rgb(208, 208, 208);
  margin: 0em 2em 0em 2em;
}

.divider {
  border-left: 1px solid rgb(241, 248, 252);
  height: 70px;
}

/* PRESENTATION SOCIETE */

.section-container {
  padding: 20px;
  max-width: 100%;
}

section h3 {
  color: #514f4f;
  font-weight: bold;
  padding-bottom: 30px;
}

table {
  width: 100%;
}

tbody {
  line-height: 35px;
}

tr {
  display: table-row;
  vertical-align: inherit;
  border-color: inherit;
  border-top: 1px solid #514f4f;
  margin: 10px 0 10px 0;
}

.other-title {
  background-color: #dadada;
  width: 100%;
}

.client-td {
  display: flex;
}

.client-td a {
  padding: 20px 20px 20px 26px;
  margin-top: 5px;
}

/*PROJETS*/

.parent {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 64px;
  grid-row-gap: 63px;
}

.formulaire_contact {
  display: flex;
  justify-content: center;
  align-items: center;
}

.rounded-container {
  position: relative;
  overflow: hidden;
  background-color: white;
  padding-top: 5rem;
  padding-bottom: 5rem;
  padding-left: 4rem;
  padding-right: 4rem;
}

.rounded-container:hover {
  transform: translateY(-5px);
  box-shadow: 0px 8px 15px rgba(73, 73, 73, 0.3);
  transition: transform 0.3s, box-shadow 0.3s;
}

.all-container {
  position: relative;
  overflow: hidden;
  background-color: white;
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-left: 1rem;
  padding-right: 1rem;
}

.all-container:hover {
  transform: translateY(-5px);
  box-shadow: 0px 8px 15px rgba(73, 73, 73, 0.3);
  transition: transform 0.3s, box-shadow 0.3s;
}

.inner-container1 {
  border: 7px solid;
  border-image: linear-gradient(to right, #dd9001, #808080);
  border-image-slice: 1;
}

.inner-container2 {
  border: 7px solid;
  border-image: linear-gradient(to right, #bd01bd, #9370DB);
  border-image-slice: 1;
}

.inner-container3 {
  border: 7px solid;
  border-image: linear-gradient(to right, #011dbd, #1785c4);
  border-image-slice: 1;
}

.div1 {
  grid-area: 1 / 1 / 2 / 2;
}

.div2 { 
  grid-area: 1 / 2 / 2 / 3;
}

.div3 { 
  grid-area: 1 / 3 / 2 / 4;
}

.div4 { 
  grid-area: 2 / 1 / 3 / 2;
}
.div5 { 
  grid-area: 2 / 2 / 3 / 3;
}
.div6 { 
  grid-area: 2 / 3 / 3 / 4;
}

.background-popup {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  justify-content: center;
  align-items: center;
  z-index: 999;
}

.popup {
  position: relative;
  z-index: 1000;
  background-color: rgba(255, 255, 255, 1);
  padding: 20px;
  width: 50em;
  height: 30em;
  border: 2px solid #ccc;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

.titre-projet {
  color: #514f4f;
  font-weight: 600;
  line-height: normal;
  text-shadow: none;
  font-size: 2.5rem;
  padding: 20px;
}

.close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 20px;
  padding-top: 20px;
  padding-right: 30px;
  cursor: pointer;
  background: none;
  border: none;
  color: red;
}

.description-popup {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

/* VEILLE */

.titre {
  color: rgb(90, 90, 90);
  font-size: 1.875rem;
  line-height: 2.25rem;
  text-transform: uppercase;
  margin-bottom: 4rem;
  font-weight: 700;
}

.prefixe {
  font-size: 1.875rem;
  line-height: 2.25rem;
  font-weight: 700;
  color: hsl(261deg 80% 48%);
}

.veille {
  position: relative;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
}

.veille h1 {
  color: rgb(74, 1, 163);
}

.veille p {
  margin-top: 2.5rem;
  margin-bottom: 2.5rem;
  margin: 0;
  padding: 0;
}

.container {
  width: 80%;
  padding: 50px 0;
  margin: 50px auto;
  position: relative;
  overflow: hidden;
}

.container:before {
  content: '';
  position: absolute;
  top: 0;
  left: 50%;
  margin-left: -1px;
  width: 2px;
  height: 100%;
  background: #CCD1D9;
  z-index: 1
}

.timeline-block {
  width: -webkit-calc(50% + 8px);
  width: -moz-calc(50% + 8px);
  width: calc(50% + 8px);
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -moz-box-pack: justify;
  justify-content: space-between;
  clear: both;
}

.timeline-block-right {
  float: right;
}

.timeline-block-left {
  float: left;
  direction: rtl
}

.marker {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  border: 2px solid #ac0ed7;
  background: #F5F7FA;
  margin-top: 10px;
  z-index: 9999
}

.veille {
  width: 95%;
  padding: 25px 15px;
}

.clients {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.client-a {
  transition: 0.3s;
}

.client-a:hover {
  transform: translateY(-5px);
  box-shadow: 0 7px 18px 0 rgba(0, 0, 0, 0.2);
}

/*FOOTER*/

footer {
  position: relative;
  margin-top: 10px;
  bottom: 0px;
  margin-bottom: 0px;
  width: 100%;
  background: hsl(261deg 80% 48%);
  min-height: 50px;
  padding: 20px 50px;
  display: block;
}

.social-icon,
.menu {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px 0;
  flex-wrap: wrap;
}

.social-icon__item,
.menu__item {
  list-style: none;
}

.social-icon__link {
  font-size: 2rem;
  color: #fff;
  margin: 0 10px;
  display: inline-block;
  transition: 0.5s;
}
.social-icon__link:hover {
  transform: translateY(-10px);
}

.menu__link {
  font-size: 1.2rem;
  color: #fff;
  margin: 6px 10px;
  display: inline-block;
  transition: 0.5s;
  text-decoration: none;
  opacity: 0.75;
  font-weight: 300;
}

.menu__link:hover {
  opacity: 1;
}

.sfthin{
  font-family: 'sfthin';
}

/* A PROPOS */

#about {
  padding: 60px 0;
  overflow: hidden;
}

.section_title {
  padding-bottom: 30px;
}

.section_title h2 {
  font-size: 32px;
  font-weight: bold;
  margin-bottom: 20px;
  color: #070707;
  padding-bottom: 20px;
  position: relative;
  line-height: 1.2;
  margin-top: 0;
}

.section_title p {
  margin-bottom: 0;
  margin-top: 0;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.col-g h3 {
  font-family: 'sfblack';
  letter-spacing: 4px;
  color: #070707;
}

/* Timeline */

.timeline {
  position: relative;
  max-width: 1200px;
  margin: 0 auto;
}

/* The actual timeline (the vertical ruler) */
.timeline::after {
  content: '';
  position: absolute;
  width: 6px;
  background-color: rgb(186, 203, 215);
  top: 0;
  bottom: 0;
  left: 3%;
  margin-left: -3px;
  height: 100%;
  border-radius: 50px;
}

.container {
  padding: 10px 40px;
  position: relative;
  background-color: inherit;
  /*width: 50%;*/
}

/* The circles on the timeline */
.container::after {
  content: '';
  position: absolute;
  width: 25px;
  height: 25px;
  right: -17px;
  background-color: white;
  border: 4px solid #7dacf8;
  top: 15px;
  border-radius: 50%;
  z-index: 1;
}

/* Place the container to the right */
.right {
  left: 50%;
}

/* Add arrows to the right container (pointing left) */
.right::before {
  content: " ";
  height: 0;
  position: absolute;
  top: 22px;
  width: 0;
  z-index: 1;
  left: 30px;
}

/* Fix the circle for containers on the right side */
.right::after {
  left: -16px;
}

/* The actual content */
.content {
  padding: 20px 30px;
  color: whitesmoke;
  position: relative;
  border-radius: 10px;
  box-shadow: rgb(136, 141, 147) 10px 20px 30px -15px;
}

.content h2 {
  color: #070707;
  padding: 5px;
}
  
/* Full-width containers */
.container {
  width: 100%;
  padding-left: 70px;
  padding-right: 25px;
}
  
/* Make sure that all arrows are pointing leftwards */
.container::before {
  left: 3.8em;
}

/* Make sure all circles are at the same spot */
.right::after {
  /*left: 15px;*/
  left: 3%;
  transform: translate(-50%, 0);
  background-color: #fbfafa;
}
  
/* Make all right containers behave like the left ones */
.right {
left: 0%;
}
.content_box {
  font-style: italic;
  /*padding: 10px;*/
}

.row button {
  margin-top: 30px;
  position: relative;
  margin: auto;
  padding: 12px 18px;
  transition: all 0.2s ease;
  border: none;
  background: none;
}

.row button:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  border-radius: 50px;
  background: #a2d9ea;
  width: 45px;
  height: 45px;
  transition: all 0.3s ease;
}

.row button span {
  position: relative;
  font-family: "Ubuntu", sans-serif;
  font-size: 18px;
  font-weight: 700;
  letter-spacing: 0.05em;
  color: #234567;
}

.row button svg {
  position: relative;
  top: 0;
  margin-left: 10px;
  fill: none;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke: #234567;
  stroke-width: 2;
  transform: translateX(-5px);
  transition: all 0.3s ease;
}

.row button:hover:before {
  width: 100%;
  background: #b1dae7;
}

.row button:hover svg {
  transform: translateX(0);
}

.row button:active {
  transform: scale(0.95);
}